@import "../node_modules/scss-reset/src/scss/_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

[data-output-id]:hover {
  fill-opacity: 1;
  stroke: black;
}

.contextMenu{
  font-size: 14px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: auto;
  transition: 0.2s;
  z-index: 1000;
  background: #1b1a1a;
  border-radius: 5px;
}

.contextMenu__element{
  //text-align: center;
  font-family: "Roboto";
  padding: 5px 10px;
  font-size: 0.75rem;
  color: #eee;
  cursor: pointer;
  transition: background-color .2s ease-in;
  border-radius: inherit;
  width: 100%;
}

.contextMenu__element:hover{
  background-color: #343434;
}
